<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824944207420-2l3n2m2qdn2v39r0769lfm99gu8es3h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824944207420-2l3n2m2qdn2v39r0769lfm99gu8es3h0</string>
	<key>API_KEY</key>
	<string>AIzaSyBRPdc9yGN4mTV5WaSQ-cIE4aja9xIoaDE</string>
	<key>GCM_SENDER_ID</key>
	<string>824944207420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.u-ryukyu-e185730.LoginDemo</string>
	<key>PROJECT_ID</key>
	<string>logindemo-132b6</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-132b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824944207420:ios:4a14ff9735401543d10539</string>
	<key>DATABASE_URL</key>
	<string>https://logindemo-132b6.firebaseio.com</string>
</dict>
</plist>